backend/node_modules
frontend/node_modules
frontend/.env
backend/.env
node_modules
package.json
package-lock.json
backend/.env
backend/.env
frontend/uncle-nomad-frontend/.env
backend/.env
frontend/uncle-nomad-frontend/.env
frontend/uncle-nomad-frontend/src/firebaseConfig.js
frontend/uncle-nomad-frontend/src/firebaseConfig.js
