# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Build files
dist/
build/

.env